<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>

    <link rel="stylesheet" href="/admin/css/login.css">
</head>
<body>
<div class="container">
    <div id="login">
        <form action="/<%= config.adminPath %>/login/doLogin" method="post" id="myform">
            <div class="l_title">Nest Xiaomi Store Management System</div>
            <dl>
                <dd>Username：<input class="text" type="text" name="username" id="username"></dd>
                <p>Please use admin first</p>
                <dd>Password：<input class="text" type="password" name="password" id="password"></dd>
                <p>Please use 123456 first</p>
                <dd>Captcha：<input id="verify" type="text" name="code">
                    <img id="verify_img" src="/<%= config.adminPath %>/login/code" title="click to reload"
                         onclick="this.src='/<%= config.adminPath %>/login/code?t='+Math.random()">
                </dd>
                <dd><input type="submit" class="" name="dosubmit" value="Login"></dd>
            </dl>
        </form>
    </div>
</div>

</body>
</html>