<%- include ../public/page_header.ejs %>

<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add Nav
            </div>
            <div class="panel-body">
                <div class="table-responsive input-form">
                    <form action="/<%= config.adminPath %>/nav/doAdd" method="post">
                        <ul>
                            <li><span>Title:</span> <input type="text" name="title"/></li>
                            <li><span>Location: </span>

                                <select name="position" id="position">
                                    <option value="1">Top</option>
                                    <option value="2" selected>Middle</option>
                                    <option value="3">Bottom</option>
                                </select>
                            </li>

                            <li><span>Related Products:</span> <input type="text" name="relation" class="input"/></li>

                            <li><span>Link:</span> <input type="text" name="link"/></li>

                            <li><span>Open in a new window: </span>
                                <select name="is_opennew" id="is_opennew">
                                    <option value="1">No</option>
                                    <option value="2">Yes</option>
                                </select>

                            <li><span>Sort:</span> <input type="text" name="sort" value="10"/></li>

                            <li><span>Status: </span> <input type="radio" name="status" checked value="1" id="a"/>
                                <label
                                        for="a">Show</label> <input type="radio" name="status" value="0" id="b"/><label
                                        for="b">Hide</label> 　
                            </li>
                            <li>
                                <br/>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>