<%- include ../public/page_header.ejs %>

<div class="container-fluid">
    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                Add Attributes
            </div>
            <div class="panel-body">
                <div class="table-responsive input-form">
                    <form action="/<%= config.adminPath %>/goodsTypeAttribute/doAdd" method="post">
                        <ul>
                            <li>Title： <input type="text" name="title"/></li>
                            <li>Belongs to：
                                <select name="cate_id" id="cate_id">
                                    <% for(var i = 0;i < goodsTypes.length;i++){ %>
                                        <option <% if(cate_id.toString() == goodsTypes[i]._id.toString()){ %>selected
                                                <% } %>
                                                value="<%= goodsTypes[i]._id %>"><%= goodsTypes[i].title %></option>
                                    <% } %>
                                </select>
                            </li>
                            <li>Input Method：
                                <input type="radio" name="attr_type" value="1" checked="true" id="text"/><label
                                        for="text">Textbox</label> 　
                                <input type="radio" name="attr_type" value="2" id="textarea"/><label for="textarea">Textarea</label>
                                <input type="radio" name="attr_type" value="3" id="select"/><label for="select">Choose
                                    from the list below (one line represents an optional value)</label>　
                            </li>

                            <li>
                                List of optional values:
                                <textarea name="attr_value" id="attr_value" cols="60" rows="8"
                                          disabled="disabled"></textarea>
                            </li>

                            <li>
                                <br/>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

  $(function() {
    $("input[name='attr_type']").change(function() {
      if ($(this).val() == 3) {
        $("#attr_value").attr('disabled', false);
      } else {
        $("#attr_value").attr('disabled', true);
      }
    })
  })
</script>
</body>
</html>