<%- include ../public/page_header.ejs %>

<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add Carousel
            </div>
            <div class="panel-body">
                <div class="table-responsive input-form">
                    <form action="/<%= config.adminPath %>/focus/doAdd" method="post" enctype="multipart/form-data">
                        <ul>
                            <li>Belongs to:
                                <select name="type" id="type">
                                    <option value="1">Website</option>
                                    <option value="2">APP</option>
                                    <option value="3">Small App</option>
                                </select>
                            </li>
                            <li>Title: <input type="text" name="title"/></li>
                            <li>URL: <input type="text" name="link"/></li>
                            <li>Img: <input type="file" name="focus_img"/></li>
                            <li>Sort: <input type="text" name="sort" value="1000"/></li>
                            <li>Status: <input type="radio" name="status" checked value="1" id="a"/> <label
                                        for="a">Show</label> <input type="radio" name="status" value="0" id="b"/><label
                                        for="b">Hide</label> 　
                            </li>
                            <li>
                                <br/>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>