<%- include('../public/page_header'); %>
<%- include('../public/page_nav'); %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%- include('../public/page_aside'); %>
    </div>
    <div class="col-sm-10">
      <iframe name="rightMain" id="rightMain" src="/admin/main/welcome" frameborder="0" width="100%"></iframe>
    </div>
  </div>
</div>

</body>

</html>