<%- include ../public/page_header.ejs %>

<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add Authy
            </div>
            <div class="panel-body">
                <div class="table-responsive input-form">
                    <form action="/<%= config.adminPath %>/access/doAdd" method="post">
                        <ul>
                            <li> Module Name: <input type="text" name="module_name"/></li>
                            <li>
                                Type:
                                <!-- 1、表示模块   2、表示菜单     3、操作 -->
                                <select name="type" id="type">
                                    <option value="1">Module</option>
                                    <option value="2">Menu</option>
                                    <option value="3">Action</option>
                                </select>
                            </li>
                            <li>Action Name: <input type="text" name="action_name"/></li>
                            <li>URL: <input type="text" name="url"/></li>
                            <li>Belongs to:
                                <select name="module_id" id="module_id">
                                    <option value="0">---Top Module--</option>
                                    <% for(var i = 0;i < moduleList.length;i++){ %>
                                        <option value="<%= moduleList[i]._id %>"><%= moduleList[i].module_name %></option>
                                    <% } %>
                                </select>
                            </li>
                            <li>Sort: <input type="text" name="sort" value="100"/></li>
                            <li>Description :
                                <textarea name="description" id="description" cols="60" rows="5"></textarea>
                            </li>
                            <li>
                                <br/>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>