<ul>
    <li><a <%if(pathname=='/user/welcome'){%> class="active" <%}%> href="/user/welcome">Welcome Page</a></li>
    <li><a <%if(pathname=='/user/order' || pathname=='/user/orderinfo'){%> class="active" <%}%> href="/user/order">My Orders</a></li>
<!--    <li><a href="#">UserInfo</a></li>-->
<!--    <li><a href="#">Liked</a></li>-->
<!--    <li><a href="#">Comments</a></li>-->
</ul>