<%- include('../public/page_header'); %>


<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="/<%=config.adminPath%>/goodsCate/add" class="btn btn-primary">增加商品分类</a>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="th">
              <th>商品类型名称</th>
              <th>描述</th>
              <th>增加时间</th>
              <th class="text-center">状态</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</body>

</html>